.header {
    height: 70px;
    column-gap: 70px;
}

.header__logo-container {
    column-gap: 69px;
}

.header__logo {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    cursor: pointer;
}

.header__logo-text {
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #933ef2;
}

.header__menu-container, .header__menu {
    column-gap: 40px;
}

.header__menu-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}
